.App {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin-bottom: 200px;
}

html {
  height: 100%;
  background-image: url("./images/background-opaque.jpg");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

.loginCard {
  width: 50%;
}

.login__card {
  padding-top: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 320px;
  background-color: rgba(219, 219, 219, 0.808);
}

.submitButton {
  margin-top: 30px;
}

div {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5em;
  color: #7b190a;
}

.NavBar {
  margin-block-start: 0.5em;
}

.NavBar__item {
  padding-right: 1em;
  padding-left: 1em;
  color: #2d080a;
  text-decoration: none;
}

/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.textInput,
textarea {
  width: 15em;
  border: 1.2px solid #2d080a;
  color: #2d080a;
  border-radius: 6px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin-bottom: 1em;
  background-color: #fcf9ed;
}

.business {
  width: 23em;
}

textarea {
  width: 28em;
}

::placeholder {
  color: #2d080a;
  opacity: 1;
}

select {
  h: 10em;
  border: 1.2px solid #2d080a;
  color: #2d080a;
  border-radius: 6px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin-bottom: 1em;
  background-color: #fcf9ed;
}

.checkboxes {
  border: 1.2px solid #2d080a;
  border-radius: 6px;
  background-color: #fcf9ed;
  padding-right: 1em;
  margin-bottom: 1em;
}

label {
  color: #2d080a;
  padding-left: 1em;
  font-size: 0.8em;
}

.submitButton {
  width: 7em;
  border: 1px solid #2d080a;
  border-radius: 6px;
  font-family: "Varela Round", sans-serif;
  color: #2d080a;
  background-color: #9bbb42;
  margin-bottom: 1em;
}

.verify {
  width: 12em;
  margin-bottom: 2.5em;
}

.redirect {
  color: #a50104;
}

p {
  font-style: italic;
  padding-left: 5em;
  padding-right: 5em;
  color: #2d080a;
}

.leaflet-container {
  width: 600px;
  height: 450px;
}

.Map {
  border: 2px solid #7b190a;
  border-width: 1px;
  border-radius: 6px;
  margin: auto;
}

.thumbnailPic {
  max-height: 200px;
}

.largePic {
  max-height: 300px;
}

.businessList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.businessCard {
  border: 1.2px solid #2d080a;
  background-color: #fcf9ed;
  width: 400px;
  border-radius: 6px;
  margin-block-end: 1em;
}

.businessCard__title {
  color: #7b190a;
}

.businessPageDescription {
  max-width: 600px;
  margin: auto;
  font-size: 15pt;
}

.menu_image {
  height: auto;
  width: 600px;
}

.contactInfo {
  display: flex;
  flex-wrap: wrap;
}

.singleBusiness {
  max-width: 1000px;
  margin: auto;
  border: solid;
  border-radius: 10px;
  background-color: rgba(230, 230, 230, 0.8);
  box-shadow: 2px 2px 5px black;
}

.businessPageElement {
  max-width: 250px;
  margin: auto;
  border-bottom: 50px;
  background-color: rgba(158, 17, 17, 0.3);
  box-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
  margin-top: 20px;
}

.commentElements {
  margin: auto;
  margin-bottom: 10px;
  border-bottom: 50px;
  box-shadow: 2px 2px 5px black;
  padding-bottom: 10px;
}

.businessPageButton {
  max-width: 300px;
}

.contactInformation {
  margin: auto;
  justify-content: space-around;
  text-align: center;
  display: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

.tablesAvailable {
  font-size: 1.5em;
}
