.App {
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

html {
  height: 100%;
  background-image: url("./images/background-opaque.jpg");
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

.loginCard {
  width: 50%;
}

.login__card {
  padding-top: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 320px;
  background-color: rgba(219, 219, 219, 0.808);
}

.submitButton {
  margin-top: 30px;
}

.title {
  font-size: 1.5em;
  color: #7b190a;
}

.NavBar {
  margin-block-start: 0.5em;
}

.NavBar__item {
  padding-right: 1em;
  padding-left: 1em;
  color: #2d080a;
  text-decoration: none;
}

.textInput,
textarea {
  width: 15em;
  border: 1.2px solid #2d080a;
  color: #2d080a;
  border-radius: 6px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin-bottom: 1em;
  background-color: #fcf9ed;
}

.business {
  width: 23em;
}

textarea {
  width: 28em;
}

::placeholder {
  color: #2d080a;
  opacity: 1;
}

select {
  width: 10em;
  color: #2d080a;
  border-radius: 6px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin-bottom: 1em;
  background-color: #fcf9ed;
}

.cuisine {
  margin-top: 1em;
  box-shadow: 1px 1px 2px #2d080a;
  background-color: #c1f0c1;
  margin-bottom: 0;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkbox {
  border-radius: 6px;
  background-color: #c1f0c1;
  padding-right: 1em;
  margin: 1em;
  box-shadow: 1px 1px 2px #2d080a;
}

label {
  color: #2d080a;
  padding-left: 1em;
  font-size: 0.8em;
}

.submitButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submitButton {
  border: none;
  width: 7em;
  border-radius: 6px;
  font-family: "Varela Round", sans-serif;
  color: #2d080a;
  background-color: #32cd32;
  margin: 0.5em;
  box-shadow: 1px 1px 2px #2d080a;
}

.verify {
  width: 12em;
  margin-bottom: 2.5em;
}

.redirect {
  color: #a50104;
}

p {
  font-style: italic;
  padding-left: 5em;
  padding-right: 5em;
  color: #2d080a;
}

.leaflet-container {
  width: 600px;
  height: 450px;
}

.Map {
  border: 2px solid #7b190a;
  border-width: 1px;
  border-radius: 6px;
  margin: auto;
  box-shadow: 1px 1px 2px #2d080a;
}

.largePic {
  max-height: 400px;
}

.businessList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.businessCard {
  display: flex;
  justify-content: space-between;
  background-color: #fffff0;
  width: 350px;
  border-radius: 6px;
  margin: 2.5em;
  box-shadow: 1px 1px 2px #2d080a;
}

.businessCard__title {
  color: #7b190a;
  font-size: 0.7em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailPic {
  max-height: 150px;
  max-width: 200px;
  overflow: hidden;
  border-radius: 6px;
  margin: 2px;
  object-fit: cover;
}
